
        <section class="py-1" id="inicia">
            <div class="QuickSearch padding-row">
                <div class="container">
                    <div class="row">
                        <div class="col margin-bottom">
                            <h1 class="title">
                                Concepto de Tiempo Compartido (Vacaciones):
                            </h1>
                        </div>
                        <div class="col margin-bottom">
                            <a href="http://es.wikipedia.org/wiki/Tiempo_compartido_(vacaciones)">Fuente: Wikipedia: http://es.wikipedia.org/wiki/Tiempo_compartido_(vacaciones)</a>
                            <h2 class="title margin-bottom">Tiempo compartido (vacaciones)</h2>
                            <p>
                                En lugar de comprar una propiedad vacacional que tal vez no pueda ser utilizada durante todo el año, el tiempo compartido permite a las familias comprar una propiedad vacacional que será utilizada sólo durante la parte del año que le resulte más conveniente al comprador. Esta parte puede ser una semana al año (esto es una participación de 1/52, ya que el año tiene 52 semanas) o más; algunos resorts ofrecen una semana cada dos años (participación de un 1/104 ) o cuatro semanas por año (1/13 ).</p>
                            <p>
                                Algunos tiempos compartidos se venden como propiedades fraccionales en una sociedad (trust) que posee uno o varios resorts.
                            </p>
                            <p>
                                La noción de tiempo compartido es originaria de Europa en los años 60. Un desarrollador de un resort de esquí de los Alpes franceses comercializó de forma innovadora su resort alentando a sus clientes a "dejar de alquilar una habitación" y a cambio "comprar el hotel". El desarrollador tuvo éxito en incrementar la ocupación y la idea se extendió por el mundo.
                            </p>
                            <p>
                                Las propiedades de tiempo compartido tienden a ser unides tipo apartamento que van en tamaño desde un estudio (con una habitación para dos) a unidades de tres o cuatro dormitorios que pueden utilizar con comodidad familias grandes.
                                Los propietarios de tiempo compartido pueden elegir estar en su resort durante el periodo prescrito, que varía dependiendo de la naturaleza de su propiedad.
                            </p>
                            <p> 
                                Pueden alquilar su semana o donarla a sus amigos y familia.
                                Más significativamente, el tiempo compartido ofrece a sus propietarios la posibilidad de intercambiar su semana, tanto independientemente como a través de distintas agencias de intercambio, para estar en uno de los miles de otros resorts en todo el mundo.
                                La industria del tiempo compartido actual incluye cerca de 6.000 en todo el mundo, para un total de 11 millones de "intervalos" de tiempo compartido que han sido vendido individualmente a cerca de 7 millones de famlias en todo el mundo.
                            </p>
                            <p>
                                Hay resorts de tiempo compartido en todo el mundo. Las ventas gobales de tiempo compartido suman un total de más de 9.000 millones de € anuales, con un crecimiento proyectado que es el doble del turismo mundial.
                            </p>
                            <p>
                                El 75% de los intervalos de tiempo compartido se venden por los grandes mayoristas de la industria de la hostelería (p.e. Trendwest, Marriott International, Consolidated Realty, Disney, y la mayor empresa de ventas de tiempo compartido Resort Properties).
                            </p>
                            <p>
                                Recientes encuentas realizadas por la Asociación de Desarrolladores Americanos de Resorts y la Organización para el Tiempo Compartido en Europa indican que virtualmente todos los propietarios de tiempo compartido están satisfechos con su compra.
                            </p>
                            <h2 class="title margin-bottom">
                                Pros y Contras de los tiempos compartidos
                            </h2>
                            <p>
                                La industria de tiempo compartido ha sido ampliamente criticada e incluso ligada al fraude turístico y existen la diferencia la cual es la inversión de una propiedad vacacional con un empresa solida y segura(travel scam).
                            </p>
                            <p>
                                A diferencia de los tradicionales alquileres, donde el usuario decide cada año sobre la base de la calidad y precio de las alojamientos, el tiempo compartido requiere que se haga un gran pago inicial. 
                            </p>
                            <p>
                                No obstante, este pago garantiza la mayor calidad de alojamiento turístico de por vida.
                            </p>
                            <p>
                                Existen grandes dudas como si los compradores de tiempo compartido recobran alguna vez el dinero que han dado, pero la inmensa mayoría de propietarios de tiempo compartido no tienen intención de salir del sistema y buscar una mejor calidad y dada la gran calidad de sus alojamientos de vacaciones, hacen que su gasto financiero sea un gasto lógico y un excelente valor para su dinero.
                                </p>
                            <p>
                                Existen algunas quejas de que los propietarios tienen que regresar al mismo resort cada año, pero actualmente existen un par de empresas que permite a los propietrios de tiempo compartido intercambiar sus semanas en, literalmente, miles de resorts de alta calidad en todo el mundo.
                                Otras quejas hacen referencia a las cuotas anuales de mantenimiento.
                                </p>
                            <p>
                                Algunas críticas hablan de cuotas siempre al alza que hacen que los propietarios no puedan permitirse el mantener sus semanas debido a la presión financiera.
                                Una de las mayores ventajas de este producto es el hecho de que el tiempo compartido de vacaciones es una propiedad inmobiliaria.
                                </p>
                            <p>
                                Los desarrolladores de Resorts compran terreno en un lugar y promueven un Resort. En la actualidad venden a los clientes semanas traspasadas de propiedad inmobiliaria en un lugar específico, lo que significa que los clientes pueden hacer con las semanas que poseen lo que deseen.
                                </p>
                            <p>
                                Esta flexibilidad incluye la posibilidad de alquilar semanas que no se utilizan o traspasarlas para cederlas a los amigos o familia.
                                </p>
                            <p>
                                Como cualquier otro producto, el intercambio de tiempo compartido está sujeto a la ley de la oferta y la demanda, haciendo del mecanismo de intercambio un sistema justo y meritocrático.
                            </p>
                            <p> Por ejemplo, si posee un apartamento-estudio en temporada baja, es difícil que pueda intercambiarlo por una villa en temporada alta. Estas restricciones son lógicas y un puro ejemplo de la máxima "Vd. obtiene aquello por lo que ha pagado".</p>
                            <p>
                                Otra restricción existente es que las grandes cadenas hoteleras no ofrecen este tipo de hospedaje en todas sus propiedades, solo en destinos vacacionales de playa y naturaleza, obstaculizando el turismo de negocios y ciudades.
                            </p>
                            <h2 class="title margin-bottom">
                                Intercambios
                            </h2>
                            <p>
                                Los propietarios tienen la posibilidad de intercambiar sus vacaciones a otros resorts, existen dos mecanismos para esto; el primero es el intercambio de semanas completas, y el segundo funciona mediante el descuento de puntos que tiene el propietario por año según la categoría del resort.
                                Las dos empresas líderes en el mercado son Resorts Condominium International (RCI) e Interval International, estas empresas ofrecen adicionalmente beneficios como tarifas preferenciales en pasajes aéreos y renta de autos e intercambios en cruceros. </p>
                            <p>
                                Igualmente cadenas internacionales han creado convenios entre ellas para ofrecer a sus clientes mas destinos.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>







