      
        <section class="ruta py-1" id="inicia">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-xs-right">
                        <a href="/">Inicio</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="py-1">   
            <div class="container">

                <div class="row">
                    <div class="col-xs-12 col-lg-12 margin-bottom">
                        <h1 class="title">
                            Listados por categoria
                        </h1>
                    </div>
                    <div class="col-xs-12 col-md-9 col-lg-9 margin-bottom">


                        <!--<h2 class="title margin-bottom">Listados por ciudades</h2>
                        <div class="list-group">
                            <a ng-href="{{listado.enlace_url}}" class="list-group-item" ng-repeat="listado in listados.ciudades">
                                {{listado.enlace_des}}
                            </a>
                        </div>-->
                        <h2 class="lead margin-bottom">Selecciona una categoria de listado de tiempos compartidos</h2>
           
                        <div class="list-group">
                            <a href="/listados/clubes/listados-de-tiempos-compartidos-por-clubes" class="list-group-item">
                                Listados de tiempos compartidos por club
                            </a>
                            <a href="/listados/destinos/listados-de-tiempos-compartidos-por-destinos" class="list-group-item">
                                Listados de tiempos compartidos por destinos
                            </a>
                            <a href="/listados/paises/listados-de-tiempos-compartidos-por-paises" class="list-group-item">
                                Listados de tiempos compartidos por paises
                            </a>
                            <a href="/listados/unidades/listados-de-tiempos-compartidos-por-unidades" class="list-group-item">
                                Listados de tiempos compartidos por unidades
                            </a>
                            <a href="/listados/amenidades/listados-de-tiempos-compartidos-por-amenidades" class="list-group-item">
                                Listados de tiempos compartidos por amenidades
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </section>
