        
        <section class="ruta py-1" id="inicia">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-xs-right">
                        <a href="/">Inicio</a>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="py-1" id="">
            <div class="QuickSearch padding-row">
                <div class="container">
                    <div class="row">
                        <div class="col margin-bottom">
                            <h1 class="title">
                                Políticas de privacidad
                            </h1>
                        </div>
                        <div class="col margin-bottom">
                            <h3 class="title margin-bottom">
                                La privacidad de la informacion de los usuarios es muy importante para tiempocompartido.com.
                            </h3>
                            <p>
                                Es por esa razon que tomamos las precauciones y recaudos para resguardar su informacion, utilizando los mecanismos de seguridad informatica de proteccion de la informacion mas completos y eficaces en la actualidad.
                            </p>
                            <h3 class="title margin-bottom">
                                Tiempocompartido.com no comparte o vende informacion alguna de los usuarios.
                            </h3>
                            <p>
                                La informacion recabada solamente es procesada internamente para fines estadisticos.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
